*{
    border: 1px solid red;
}
/* navbar */
.navlogo{
    width: 100%;
    height: 50px;
}
.hamburger-react{
    display: block;
}


@media(min-width:992px){
    .hamburger-react{
        display: none;
    }
}